*
{
    margin: 0;
    padding: 0;
    box-sizing:border-box;

}

Body {
    Font-family: ‘Arial’, sans-serif;
    Margin: 0;
    Padding: 0;
}

Header {
    Background-color: #3498db;
    Color: #fff;
    Text-align: center;
    Padding: 1em;
}

Section {
    Margin: 20px;
}

.data-container {
    Border: 1px solid #ddd;
    Padding: 10px;
}

.chart-container {
    Text-align: center;
}

Footer {
    Background-color: #34495e;
    Color: #fff;
    Text-align: center;
    Padding: 1em;
    Position: fixed;
    Bottom: 0;
    Width: 100%;
}

