*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Times New Roman', 'Arial Narrow';
}
body
{
    background: lightblue;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}
.container
{
    position: relative;
    width: 100%;
    max-width: 1000px;
    min-height: 1000px;
    background: #fff;
    margin: 50px;
    display: grid;
    grid-template-columns: 1fr 2fr;
    box-shadow: 0 35px 55px rgba(0, 0, 0, 1);
}
.container .left_side
{
    position: relative;
    background-color: #003147;
    padding: 40px;
}
.profileText
{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 30px;
}

.profileText .imgBox
{
    position: absolute;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    overflow: hidden;
}
.profileText .imgBox img
{
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.profileText h2
{
    color: #fff;
    font-size: 1.3em;
    margin-top: 210px;
    text-align: center;
    font-weight: 600;
    line-height: 1.4em;
}
.profileText h2 span
{
    font-size: 0.8em;

}
.container .right_side
{
    position: relative;
    background-color: #fff;
    padding: 40px;
}
.ContactInfo
{
    color: white;
    display: flex;
    padding-top: 80%;
    padding-bottom: 2.5%;
    font-size: larger;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}
.icon
{
    margin-top: 5px;
    list-style-type: none;
    color: white;
    padding-top: 5px;
    font-family: 'Arial Narrow';
}
.contactIcon
{
    color: lightblue;
}
.info
{
    padding-left: 5px;
    font-size: medium;
    font-family: 'Arial Narrow';
}
.education
{
    color: white;
    font-size: larger;
    padding-top: 8%;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    padding-bottom: 10px;

}
.info1
{
    list-style-type: none;
    padding-top: 8px;
    color: darkcyan;
}
.info1 p span
{
    color:white;
    padding-top: 5px;
    font-size: small;
    font-family: 'Arial Narrow';
}
.info2
{
    color: lightgreen;
    list-style-type: none;
    font-size: small;
    padding-top: 8px;
}
.expert
{
    color: white;
    font-size: larger;
    padding-top: 20px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    padding-bottom: 10px;
}
.text-style
{
    list-style-type: none;
    margin-top: 5px;
}
.experties1
{
    color: white;
    margin-top: 5px;
    list-style-type: none;
    font-size: small;
    font-family: 'Arial Narrow';
}
.experties .percent
{
    position: relative;
    width: 100%;
    height: 6px;
    background: #081921;
    display: block;
    margin-top: 5px;
}
.experties .percent div
{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    background: #03a9f4;
}
.contactLanguage
{
    color: white;
    padding-top: 20px;
    font-size: larger;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    padding-bottom: 10px;
}
.language-style
{
    color: white;
    list-style: none;
    margin-top: 5px;
    padding-top: 5px;
    font-size: small;
    font-family: 'Arial Narrow';
}
.lang .percent1
{
    position: relative;
    width: 100%;
    height: 6px;
    background: #081921;
    display: block;
    margin-top: 5px;
}
.lang .percent1 div
{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    background: #03a9f4;
}
.name
{
    text-align: center;
    margin-bottom: 5px;
    font-size: xx-large;
    font-weight: 600;
}
.course
{
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: xx-large;
}
.description
{
    margin-top: 30px;
    font-size: xx-large;
}
.about
{
    margin-top: 5px;
    font-family: 'Arial Narrow';
}
.qualificationStyle
{
    margin-top: 20px;
    font-size: x-large;
    text-align: center;
}
.system-style .Syst
{
    padding-top: 20px;
    font-size: large;
}
.system
{
    padding-top: 20px;
    list-style: none;
    font-family: 'Arial Narrow';
}
.certificate-style .certi
{
    padding-top: 20px;
    font-size: large;
}
.certificate
{
    padding-top: 10px;
    list-style: none;
    font-family: 'Arial Narrow';
}
.referenceStyle
{
    font-size: x-large;
    margin-top: 20px;
}
.refStyle
{
    margin-top: 30px;
    list-style-type: none;
}
.ref
{
    margin-top: 5px;
    font-size: medium;
    font-weight: bold;
}